<!DOCTYPE html>
<html>
  <head>
    <title>Gifhub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
    .circle-container {
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
    }

    .circle {
      width: 6rem;
      height: 6rem;
      border: 2px solid black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s, color 0.3s;
      color: black;
    }

    .circle:hover {
      background-color: black;
    }

    .circle:hover a, input {
      color: white;
    }
    .post-container {
    position: relative;
    display: inline-block;
    
  }

  .post-image {
    transition: filter 0.3s;
  }

  .post-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  .post-container:hover .post-image {
    filter: brightness(20%);
  }

  .post-container:hover .post-links {
    opacity: 1;
    visibility: visible;
  }

  .post-links a {
    color: white;
  }
  .post-links a:hover {
    color: rgb(235, 101, 197);
  }
  </style>
  </head>

  <body>
    <main class="container px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
